.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}
section > ol{
   display: grid;
   grid-template-columns: 1fr;
}

section > ol > li{
    display: flex;
    flex-direction: column;
    margin: .2rem;
    /* background-color: #49d0b0;  */
    color: white;
    font-family: "Roboto", sans-serif;
    border-radius: 1rem;
    
}
section > ol > li > span.number{
    margin: .3rem;
    color: #000;
    opacity: .3;
    text-align: right;
    
}
section > ol > li > span.personagem{
    margin-left: .5rem;
}
section > ol > li > div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
section > ol > li > div > ol{
   
   display: flex;
   flex-direction: column;
    margin-top: 1rem;
}
section > ol > li > div > ol> li{
    padding: 0;
    
    
}
section > ol > li > div > ol > li.hatributos{
    
    border-radius: 1rem;
    margin:.125rem;
    padding: .30rem 1.5rem;
    font-size: .825rem;
    /* background-color:#60e4c7; */
    filter: brightness(1.1);
}
section > ol > li > div > img {
    max-width: 100%;
    height: 90px;
    align-self: self-end;
}
section > div.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}
section > div.pagination > button{
    background-color: #6c7dd5;
    font-family: "Roboto", sans-serif;
    color: #ffff;
    border: none;
    border-radius: 1rem;
    padding: .50rem;
}